.navbar {
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }

.link {
    transition: font-size 10s;
}

.link:hover {
    font-weight:bolder;
    color: #cd5c5c;
}